
<body>
    <form action="/submit" method="post">
        <h1>Hi User!</h1>
        <h2>Enter a Workout!</h2>
          <input type="text" name="name" placeholder="Workout Name">
          <input type="text" name="type" placeholder="Workout Type">
          <input type="text" name="weight" placeholder="Weight (if applicale)">
          <input type="text" name="sets" placeholder="Sets (if applicale)">
          <input type="text" name="reps" placeholder="Reps (if applicale)">
          <input type="text" name="duration" placeholder="Duraction or Distance">
          <input type="submit" formaction="exercise">

          <a href="/previous">See your past workouts!</a>
          <a href="/user">See your profile!</a>
          <a href="/populateduser">See your profile, populated with notes!</a>
    </form>
</body>